.selectedArmy {
  font-weight: bold;
}

.detachment {
  display: none;
}

.addDetachB {
  display: block;
}

.addDetach {
  color: green;
}

#totalArmyWork {
  padding-left: 10px;

}

body {
  padding-left: 24px;
  padding-right:24px;
  padding-top: 24px;
}


#armySelect {
  margin-bottom: 24px;
}

.plusmodel  {
  display: flex;
}

#detachBoard {
  margin-top: 24px;
}

#totalBoard {
  margin-top: 24px;
}

.bbutton {
  padding-left: 6px;
}

#armyForm {
  padding-left: 300px;
}

#briefingWrapper {
  margin-bottom: 20px;
}

.detachWrapper {
  display: flex;
}

#totalBoard {
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(180px, auto);
  grid-row-gap: 12px;
  grid-column-gap: 12px;
  background-color:bg:secondary;
  padding-bottom: 20px;
}

.hiddenForm {
  display:none !important;
}

.hiddenBoard {
  display:none !important;
}

.steps {
  padding-bottom: 15px;
  padding-top: 15px;
  color: blue;
  font-family: "Monaco", monospace;
}

#hq_board, #elites_board, #heavy_support_board, #lord_of_war_board {
  background-color:rgb(210, 210, 210);
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 10px;

}

#troops_board, #fast_attack_board, #flyer_board, #fortification_board {
  background-color:rgb(170, 170, 170);
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 10px;

}


  @media all and (min-width: 700px){
    #totalBoard{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media all and (min-width: 1100px){
    #totalBoard{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .boldDetach {
    font-weight: bold;
  }


.allTypes {
  width: 300px;
}

.hiddenE {
  display: none;
}


#army_form {
  padding-right: 6px;
}

#armyFormWrapper {
  margin-bottom: 16px;
}
