.selectedArmy {
  font-weight: bold;
}

.detachment {
  display: none;
}

.addDetachB {
  display: block;
}

#totalArmyWork {
  padding-left: 10px;
  padding-right: 100px;
}

.plusmodel  {
  display: flex;
}

.bbutton {
  padding-left: 6px;
}

#totalBoard {
  display:flex
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

#army_form {
  padding-right: 6px;
}
